<div class="modal fade" id="divModalBlogForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="z-index:100001">
<div class="modal-dialog" style="width:520px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">블로그 찾기</h4>
        </div>
        <div class="modal-body">
            <dl class="blog_select">
                <dt>1. 레시피가 있는 블로그를 선택해 주세요.</dt>
                <dd>
                    <span class="blog_t1"><label class="radio-inline"><input type="radio" name="q_portal"
                                value="Naver" id="q_portal_Naver" onclick="doChangePortal(this.value)"
                                aria-label="" checked="checked">네이버</label></span>
                    <span class="blog_t2"><label class="radio-inline"><input type="radio" name="q_portal"
                                value="Daum" id="q_portal_Daum" onclick="doChangePortal(this.value)"
                                aria-label="">다음</label></span>
                    <span class="blog_t3"><label class="radio-inline"><input type="radio" name="q_portal"
                                value="Tistory" id="q_portal_Tistory" onclick="doChangePortal(this.value)"
                                aria-label="">티스토리</label></span>
                </dd>
            </dl>
            <dl class="blog_select">
                <dt>2. 글을 가져올 방식을 선택해 주세요.</dt>
                <dd>
                    <div style="padding-bottom:7px"><span style="color:#666;"><label class="radio-inline"><input
                                    type="radio" name="q_blog_select_type" value="id" id="q_blog_select_type_id"
                                    onclick="doChangeBlogSelectType(this.value)" aria-label="">블로그 ID를 입력하여 글
                                선택하기</label></span></div>
                    <div><span style="color:#666"><label class="radio-inline"><input type="radio"
                                    name="q_blog_select_type" value="url" id="q_blog_select_type_url"
                                    onclick="doChangeBlogSelectType(this.value)" aria-label="">블로그 글 URL을 입력하여
                                내용 가져오기</label></span></div>
                </dd>
            </dl>
            <dl id="top_blog_select_id" class="blog_select" style="display:none">
                <dt>3. 블로그 ID를 입력해 주세요.</dt>
                <dd><span id="txtBlogHeader">http://blog.naver.com/</span> <input type="text" name="q_blogid"
                        id="q_blogid" value="" class="form-control" placeholder="" style="width:200px">
                    <span id="txtBlogTail"></span>
                </dd>
            </dl>
            <dl id="top_blog_select_url" class="blog_select" style="display:none">
                <dt>3. 블로그 글 URL을 입력해 주세요.</dt>
                <dd>
                    <input type="text" name="q_blogurl" id="q_blogurl" value="" class="form-control"
                        placeholder="" style="width:400px">
                    <div><span>(블로그 글 URL은 네이버/다음/티스토리 만 가능합니다)</span></div>
                </dd>
            </dl>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnBlogContentsList" onclick="doBlogSelect()" class="btn-lg btn-primary"
                rel="popover_blog">조회</button>
            <button type="button" class="btn-lg btn-default" data-dismiss="modal">취소</button>
            <input type="hidden" name="q_page" id="q_page" value="1">
            <input type="hidden" name="q_scal" id="q_scal" value="10">
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="divModalBlogContentsList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="z-index:100002">
<div class="modal-dialog" style="width:520px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">글을 선택하세요</h4>
        </div>
        <div class="modal-body" id="divBlogContentsList">

        </div>
        <div class="modal-footer">

        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="divBrowserGuideModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="z-index:100001">
<div class="modal-dialog" style="width:820px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">브라우저 업데이트 안내</h4>
        </div>
        <div class="modal-body">
            <!--
        <h3>Internet Explorer 10 이하 버전을 사용중이시군요!</h3>
        <p></p>
        <h4 style="color:#de4830">레시피 등록은,</h4>
        <h4 style="color:#de4830">IE 11이상 또는 크롬(Chrome) 브라우저 사용이 필수입니다.</h4>
    -->
            <div style="width:800px; height:560px; background:#fff; text-align:center;">
                <div sthyle="padding-top:5px;"><img src="https://recipe1.ezmember.co.kr/img/update_icon.gif">
                </div>
                <div style="font-size:30px; font-weight:bold; color:#444; padding-top:25px;">브라우저를 최신버전으로 업그레이드
                    해주세요!</div>
                <div style="font-size:18px; color:#777; padding-top:25px;">레시피 등록을 위해서는 지금 사용하고 있는<br>브라우저 버전을
                    업그레이드 하거나 다른 웹 브라우저를 사용해야 됩니다.</div>
                <div style="font-size:18px; color:#777; padding-top:25px;">아래의 브라우저 사진을 클릭하여 업그레이드 하세요.</div>
                <div style="padding-top:30px;">
                    <a href="https://www.google.com/chrome/" target="_blank" style="margin:0 4px;"><img
                            src="https://recipe1.ezmember.co.kr/img/update_b_03.gif" alt="chrome"
                            style="border:none;"></a>
                    <a href="http://windows.microsoft.com/ko-kr/internet-explorer/download-ie" target="_blank"
                        style="margin:0 4px;"><img src="https://recipe1.ezmember.co.kr/img/update_b_02.gif"
                            alt="IE" style="border:none;"></a>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->