<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" class="">
<!--[endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta property="fb:pages" content="1567451316868458">
    <meta name="description" content="국내 No.1 요리앱, 10만개 이상의 레시피, 편리한 검색, 맛보장 레시피, TV쿡방 레시피, 온라인 최저가 쇼핑, 요리 공모전">
    <meta name="keywords" content="">
    <meta name="google-site-verification" content="3eLg1zfxeZ_oO6oOOsvIxbtcW-FtDsViPVm7-CYOl8w">
    <title>만개의레시피</title>
    <meta property="kakao:title" content="만개의레시피">
    <meta property="kakao:description" content="">
    <script src="https://connect.facebook.net/signals/config/2162540197189035?v=2.9.18&amp;r=stable" async=""></script>

    <script async="" src="//www.google-analytics.com/analytics.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap_20200413.css">
    <link rel="stylesheet" type="text/css" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/ez_recipe_20200518.css">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-76x76.png" rel="apple-touch-icon"
        sizes="76x76">
    <link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-120x120.png" rel="apple-touch-icon"
        sizes="120x120">
    <link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon"
        sizes="152x152">
    <link href="https://recipe1.ezmember.co.kr/img/icons/apple-touch-icon-180x180.png" rel="apple-touch-icon"
        sizes="180x180">
    <link href="https://recipe1.ezmember.co.kr/img/icons/icon-hires.png" rel="icon" sizes="192x192">
    <link href="https://recipe1.ezmember.co.kr/img/icons/icon-normal.png" rel="icon" sizes="128x128">
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"
        charset="utf-8"></script>
    <script type="text/javascript">
        // Common Javascript
        var _WWW_URL_ = '';
        var _IMG_URL_ = '';
        var _FILE_URL_ = '';
        var _CURRENT_PAGE_ = '';
        var _USER_ID_ = '';
    </script>

    <!--보안 관련된것 같아서 안지우고 있었는데 콘솔에 에러 나서 일단 주석. by hmlee-->
    <!--script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_2020052101.js" async=""></script-->
    
</head>