<script>
    var curVRPage = 1;
    var totalVRcnt = 0;
    function getViewRecipeList(page) {
        if ($("#rRecipContDivPage_" + page).length > 0) {
            $("[id^='rRecipContDivPage_']").hide();
            $("#rRecipContDivPage_" + page).show();
            curVRPage = page;
            return;
        }
        var rvArr = storageUtil.get('stRecentViewRecipe');
        if (!rvArr || rvArr == 'FAIL') {
            $("#recentRecipeDiv").hide();
            return;
        }
        totalVRcnt = rvArr.length;
        var scale = 6;
        var skip = (page - 1) * scale;
        var lastpage = Math.ceil(totalVRcnt / scale);
        var hstr = '';
        hstr += '<div id="rRecipContDivPage_' + page + '" class="row">';
        if (page > 1) hstr += '<a href="javascript:void(0);" class="list_btn_pre" onClick="getViewRecipeList(' + (page - 1) + ')"><img src="https://recipe1.ezmember.co.kr/img/btn_arrow1_l.png" alt="이전"></a>';
        if (page < lastpage) hstr += '<a href="javascript:void(0);" class="list_btn_next" onClick="getViewRecipeList(' + (page + 1) + ')"><img src="https://recipe1.ezmember.co.kr/img/btn_arrow1_r.png" alt="다음"></a>';
        for (var i = skip; i < skip + scale; i++) {
            var rvs = rvArr[i];
            if (!rvs) continue;
            hstr += '<div class="col-xs-2">';
            hstr += '<a class="thumbnail" href="/recipe/' + rvs.seq + '"><img src="' + rvs.thumb + '" style="width:180px; height:180px;">';
            hstr += '<div class="caption elipsis_rrtitle"><b>' + rvs.title + '</b></div></a>';
            hstr += '</div>';
        }
        hstr += '</div>';
        if (page != 1 && curVRPage > page) $("#recentRecipeContDiv").prepend(hstr);
        else $("#recentRecipeContDiv").append(hstr);
        getViewRecipeList(page);
        $(".elipsis_rrtitle").ellipsis({ row: 2 });
    }

    $(document).ready(function () {
        getViewRecipeList(1);
    })
</script>
<div id="recentRecipeDiv" class="container">
    <div class="rcp_lately_list">
        <h3>최근 본 레시피</h3>
        <div id="recentRecipeContDiv">
            <div id="rRecipContDivPage_1" class="row" style="display: block;">
                <div class="col-xs-2"><a class="thumbnail" href="/recipe/6857643"><img
                            src="https://recipe1.ezmember.co.kr/cache/recipe/2016/09/29/067e5b7fae198cf0c250cc016e79370e1_m.jpg"
                            style="width:180px; height:180px;">
                        <div class="caption elipsis_rrtitle">콜라찜닭만들기- 찜닭 쉽게 만들기...</div>
                    </a></div>
            </div>
        </div>
    </div>
</div>