
{{>layout/header}}
<script async="" src="/js/header.js"></script>
<div class="container sub_bg">
    <div id="contents_area" class="col-xs-9">
        <div class="chef_list4">
            <ul class="nav nav-tabs3" style="position:relative;">
                <li role="presentation" id="chef_list" class="chef_nav active"><a>쉐프</a></li>
                <li role="presentation" id="chef_list_follower" class="chef_nav"><a>소식받는쉐프</a></li>


                <div class="list_sort">
                    <div class="chef_search">
                        <input type="text" id="user_search_input" value="" class="form-control"
                               placeholder="쉐프 닉네임을 입력해 주세요."><span class="glyphicon glyphicon-search"></span>
                        <button type="submit" onclick="searchUser()" class="btn search">검색</button>
                    </div>
                </div>
            </ul>


            <!-- 1. 쉐프 목록 -->
            <div id="chef_list_div" class="chef_div">
                <!-- 쉐프 활동 안내 -->
                <div class="chef_top2"><img src="https://recipe1.ezmember.co.kr/img/chef_top3.jpg" border="0" usemap="#Map">
                    <map name="Map">
                        <area shape="rect" coords="622,19,737,75" href="/chef/apply.html" alt="쉐프활동자세히보기">
                    </map>
                </div>

                <ul class="my_nav2">
                    <li id="chef_list_raking" class="chef_list_nav active"><a>소식받기 순위</a></li>
                    <li id="chef_list_recent" class="chef_list_nav"><a>최근활동쉐프</a></li>
                    <li id="chef_list_new" class="chef_list_nav"><a>새로운쉐프</a></li>
                </ul>

                <!-- 소식받기 순위에만 해당하는 항목 -->
                <div class="my_nav2_sub" style="display:none">
                    <p id="ranking_tab_explain">누적 기준 소식받기 많은 쉐프순</p>
                    <div class="dropdown clearfix pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false"><span
                                class="glyphicon glyphicon-calendar"></span>누적</button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                                       onclick="setTerm('all');">누적</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                                       onclick="setTerm('1');">오늘</a></li>
                        </ul>
                    </div>
                    <div class="dropdown clearfix pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2"
                                data-toggle="dropdown" aria-expanded="false"><span
                                class="glyphicon glyphicon-align-justify"></span>소식받기순위</button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                                       onclick="location.href = '/chef/chef_list.html?qn=&amp;term=all&amp;order=chef_no_follower'">소식받기순위</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                                       onclick="location.href = '/chef/chef_list.html?qn=&amp;term=all&amp;order=chef_no_hit'">조회순위</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                                       onclick="location.href = '/chef/chef_list.html?qn=&amp;term=all&amp;order=chef_no_scrap'">스크랩순위</a>
                            </li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                                       onclick="location.href = '/chef/chef_list.html?qn=&amp;term=all&amp;order=chef_no_recipe'">레시피순위</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 추가 항목 끝 -->

                <!-- 쉐프 3가지 목록 -->
                <div class="chef_list4_in">
                </div>
                <nav class="text-center">
                    <ul class="pagination">
                    <li class="active"><a href="/chef/chef_list.html?order=chef_no_follower&amp;term=all&amp;page=1">1</a> </li>
                    <li><a href="/chef/chef_list.html?order=chef_no_follower&amp;term=all&amp;page=2">2</a></li>
                    <li><a href="/chef/chef_list.html?order=chef_no_follower&amp;term=all&amp;page=3">3</a></li>
                    <li><a href="/chef/chef_list.html?order=chef_no_follower&amp;term=all&amp;page=4">4</a></li>
                    <li><a href="/chef/chef_list.html?order=chef_no_follower&amp;term=all&amp;page=5">5</a></li>
                    <li><a href="/chef/chef_list.html?order=chef_no_follower&amp;term=all&amp;page=6">
                        <span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div> <!--chef_list_div-->

            <!-- 2. 소식 받는 쉐프 목록 -->
            <div id="chef_list_follower_div" class="chef_div" style="display:none;"></div>
        </div>
    </div>
</div>

<div id="right_area" class="col-xs-3">
</div><!-- /right_area -->

<div class="col-xs-12 sub_bg_btm"></div>
</div> <!-- /container -->

<script src="/js/chef-list.js" ></script >
<script src="/js/footer.js" ></script>
{{>layout/footer}}
